<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DataFrame-생성" data-toc-modified-id="DataFrame-생성-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>DataFrame 생성</a></span><ul class="toc-item"><li><span><a href="#자동-schema" data-toc-modified-id="자동-schema-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>자동 schema</a></span></li><li><span><a href="#컬럼명-설정" data-toc-modified-id="컬럼명-설정-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>컬럼명 설정</a></span></li><li><span><a href="#Row-객체를-사용하여-생성" data-toc-modified-id="Row-객체를-사용하여-생성-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Row 객체를 사용하여 생성</a></span></li></ul></li><li><span><a href="#RDD에서-생성하기" data-toc-modified-id="RDD에서-생성하기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>RDD에서 생성하기</a></span><ul class="toc-item"><li><span><a href="#Schema-자동-인식" data-toc-modified-id="Schema-자동-인식-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Schema 자동 인식</a></span></li><li><span><a href="#Row를-사용" data-toc-modified-id="Row를-사용-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Row를 사용</a></span></li><li><span><a href="#Schema를-정의하고-생성" data-toc-modified-id="Schema를-정의하고-생성-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Schema를 정의하고 생성</a></span></li></ul></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Dataframe을-Pandas로-변환" data-toc-modified-id="Dataframe을-Pandas로-변환-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Dataframe을 Pandas로 변환</a></span></li><li><span><a href="#Pandas에서-csv쓰기" data-toc-modified-id="Pandas에서-csv쓰기-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Pandas에서 csv쓰기</a></span></li><li><span><a href="#Pandas에서-컬럼-생성,-삭제" data-toc-modified-id="Pandas에서-컬럼-생성,-삭제-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Pandas에서 컬럼 생성, 삭제</a></span></li><li><span><a href="#csv-파일에서-생성" data-toc-modified-id="csv-파일에서-생성-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>csv 파일에서 생성</a></span><ul class="toc-item"><li><span><a href="#RDD에서-DataFrame" data-toc-modified-id="RDD에서-DataFrame-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>RDD에서 DataFrame</a></span></li><li><span><a href="#DataFrame으로-직접-읽기" data-toc-modified-id="DataFrame으로-직접-읽기-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>DataFrame으로 직접 읽기</a></span></li><li><span><a href="#format-load" data-toc-modified-id="format-load-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>format load</a></span></li><li><span><a href="#csv" data-toc-modified-id="csv-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>csv</a></span></li></ul></li><li><span><a href="#tsv-파일읽기" data-toc-modified-id="tsv-파일읽기-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>tsv 파일읽기</a></span><ul class="toc-item"><li><span><a href="#RDD로-읽기" data-toc-modified-id="RDD로-읽기-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>RDD로 읽기</a></span></li><li><span><a href="#형변환" data-toc-modified-id="형변환-3.5.2"><span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>형변환</a></span></li><li><span><a href="#Schema-설정" data-toc-modified-id="Schema-설정-3.5.3"><span class="toc-item-num">3.5.3&nbsp;&nbsp;</span>Schema 설정</a></span></li><li><span><a href="#DataFrame으로-읽기" data-toc-modified-id="DataFrame으로-읽기-3.5.4"><span class="toc-item-num">3.5.4&nbsp;&nbsp;</span>DataFrame으로 읽기</a></span></li><li><span><a href="#Row의-split-/-csv함수로-tsv-읽기" data-toc-modified-id="Row의-split-/-csv함수로-tsv-읽기-3.5.5"><span class="toc-item-num">3.5.5&nbsp;&nbsp;</span>Row의 split / csv함수로 tsv 읽기</a></span></li></ul></li></ul></li></ul></div>

In [2]:
import pyspark
myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

print (spark.version)

3.0.3

## DataFrame 생성
schema를 정해주지 않으면 Spark가 자동으로 유추
### 자동 schema

- 컬럼명은 일련번호를 가지고 생성
- 열은 '_1', '_2'와 같이 명명
- 데이터 타잎도 유추해서 생성한다. 올바르게 되지 않을 경우가 많다
- nullable은 결측값이 허용되는지를 말하는 것이다. true이면 허용된다는 의미

In [3]:
myList=[('1','kim, js', 170),
        ('1','lee, sm', 175),
        ('2','lim, yg',180),
        ('2','lee', 170)]

In [4]:
myDf=spark.createDataFrame(myList)

In [5]:
myDf.columns

['_1', '_2', '_3']

In [6]:
myDf.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [7]:
print (myDf.take(1))

[Row(_1='1', _2='kim, js', _3=170)]

### 컬럼명 설정

In [8]:
cols = ['year','name','height']
_myDf = spark.createDataFrame(myList, cols)

In [9]:
_myDf.columns

['year', 'name', 'height']

In [10]:
print (_myDf.take(1))

[Row(year='1', name='kim, js', height=170)]

데이터 100개를 생성하여 names, items를 정의

In [11]:
names = ["kim","lee","lee","lim"]
items = ["espresso","latte","americano","affocato","long black","macciato"]

In [12]:
coffeeDf = spark.createDataFrame([(names[i%4], items[i%6]) for i in range(100)],\
                           ["name","coffee"])

In [13]:
coffeeDf.printSchema()

root
 |-- name: string (nullable = true)
 |-- coffee: string (nullable = true)

In [14]:
coffeeDf.show(10)

+----+----------+
|name|    coffee|
+----+----------+
| kim|  espresso|
| lee|     latte|
| lee| americano|
| lim|  affocato|
| kim|long black|
| lee|  macciato|
| lee|  espresso|
| lim|     latte|
| kim| americano|
| lee|  affocato|
+----+----------+
only showing top 10 rows

### Row 객체를 사용하여 생성

In [19]:
from pyspark.sql import Row
Person = Row('year','name', 'height')
row1=Person('1','lee, yw',150)

In [20]:
print ("row1: ", row1.year, row1.name, row1.height)

row1:  1 lee, yw 150

- Row를 Dictionary로 저장

Row는 속성명과 값을 가지고 있어 쉽게 변환됨

In [21]:
row1.asDict()

{'year': '1', 'name': 'lee, yw', 'height': 150}

In [22]:
row1.asDict().keys()

dict_keys(['year', 'name', 'height'])

In [23]:
row1.asDict().values()

dict_values(['1', 'lee, yw', 150])

- Row에서 DataFrame생성

Row를 사용하여 DataFrame 만들기

Python list에 Row를 넣어 구성

In [26]:
myRows = [row1,
          Person('1','lee, sm', 175),
          Person('2','lim, yg',180),
          Person('2','lee',170)]

In [27]:
myDf=spark.createDataFrame(myRows)

데이터 타입은 자동 선정

In [28]:
print (myDf.printSchema())
myDf.show()

root
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- height: long (nullable = true)

None
+----+-------+------+
|year|   name|height|
+----+-------+------+
|   1|lee, yw|   150|
|   1|lee, sm|   175|
|   2|lim, yg|   180|
|   2|    lee|   170|
+----+-------+------+

- 데이터타입 정의

StructType으로 구조체 선언하고 컬럼에 대해 StructField 설정

In [29]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType
mySchema=StructType([
    StructField("year", StringType(), True),
    StructField("name", StringType(), True),
    StructField("height", IntegerType(), True)
])

In [30]:
myDf=spark.createDataFrame(myRows, mySchema)

In [31]:
myDf.printSchema()

root
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- height: integer (nullable = true)

In [32]:
myDf.take(1)

[Row(year='1', name='lee, yw', height=150)]

## RDD에서 생성하기
RDD는 schema가 정해지지 않은 비구조적 데이터, schema를 정의하지 않아도 Spark가 유추함
### Schema 자동 인식

In [33]:
myList=[('1','lee, yw',150), ('1','lee, sm', 175), ('2','lim, yg',180), ('2','lee',170)]

In [34]:
myRdd = spark.sparkContext.parallelize(myList)

`toDF()`로 변환하거나 직접 `createDataFram()`을 이용하여 DataFrame을 생성할 수 있음

In [35]:
rddDf=myRdd.toDF()

In [36]:
rddDf.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

RDD에서 또한 DataFrame을 생성할 수 있다

In [37]:
rddDf=spark.createDataFrame(myRdd)

In [38]:
rddDf.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

### Row를 사용
RDD의 `map()`을 이용하여 형변환을 해보자

In [39]:
from pyspark.sql import Row
_myRdd=myRdd.map(lambda x:Row(year=int(x[0]), name=x[1], height=int(x[2])))

In [40]:
_myDf=spark.createDataFrame(_myRdd)

In [41]:
_myDf.printSchema()

root
 |-- year: long (nullable = true)
 |-- name: string (nullable = true)
 |-- height: long (nullable = true)

In [42]:
_myDf.take(1)

[Row(year=1, name='lee, yw', height=150)]

`Row`를 사용하여 RDD를 생성할 수도 있다

In [43]:
from pyspark.sql import Row

r1=Row(name="yw1", age=10)
r2=Row(name="yw2", age=20)
_myRdd=spark.sparkContext.parallelize([r1,r2])

In [44]:
_myRdd.collect()

[Row(name='yw1', age=10), Row(name='yw2', age=20)]

### Schema를 정의하고 생성
- schema를 정의하고 RDD에서 DataFrame을 생성할 수 있다.
- StructType을 선언하고, 컬럼에 대해 StructField를 컬럼명, 데이터 타잎, NULL이 허용되는지 여부를 설정한다. 
- 과거 버전은 컬럼명이 정렬돼 순서가 변경됐지만 현재는 변경되지 않는다

In [45]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType

schema=StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    #StructField("created", TimestampType(), True)
])
_myDf=spark.createDataFrame(_myRdd, schema)

In [46]:
_myDf.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [47]:
_myDf.show()

+----+---+
|name|age|
+----+---+
| yw1| 10|
| yw2| 20|
+----+---+

## Pandas
- Pandas는 데이터 양이적은경우 
- Spark DataFrame 양이 많은 경우(빅데이터) 분산처리


구분|DataFrame|Pandas
----|----|----
csv 파일 읽기|read.json()|read_csv()
데이터타입|inferschema=True 설정하면 추정|모두 strings

### Dataframe을 Pandas로 변환

In [49]:
myDf.toPandas()

  year     name  height
0    1  lee, yw     150
1    1  lee, sm     175
2    2  lim, yg     180
3    2      lee     170

### Pandas에서 csv쓰기
DataFrame을 csv파일로 내보내고 Pandas로 읽기

DataFrame to csv 라이브러리 `com.databricks.spark.csv` 사용(파일이 아닌 디렉토리가 생성)

한번 생성되면 덮어쓰기를 하지않기 빼문에 새로 쓰고 싶다면 이전 디렉토리를 삭제해야함

In [51]:
import os
myDf.write.format('com.databricks.spark.csv').save(os.path.join('data','_myDf.csv'))

In [53]:
!dir data\_myDf.csv\

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4E88-AB80

 C:\Users\Nunu\BigData\data\_myDf.csv 디렉터리

2021-10-17  오후 08:07    <DIR>          .
2021-10-17  오후 08:07    <DIR>          ..
2021-10-17  오후 08:07                12 .part-00000-88d2bfa2-f1d8-48b6-9962-f4bb738ee717-c000.csv.crc
2021-10-17  오후 08:07                 8 ._SUCCESS.crc
2021-10-17  오후 08:07                62 part-00000-88d2bfa2-f1d8-48b6-9962-f4bb738ee717-c000.csv
2021-10-17  오후 08:07                 0 _SUCCESS
               4개 파일                  82 바이트
               2개 디렉터리  34,942,214,144 바이트 남음

Pandas를 이용하여 DataFrame을 csv파일로 내보내기

In [54]:
myDf.toPandas().to_csv(os.path.join('data','myDf.csv'))

### Pandas에서 컬럼 생성, 삭제

In [55]:
import pandas as pd
icc = pd.DataFrame( { 'country': ['South Korea','Japan','Hong Kong'],'codes': [81, 82, 852] })

In [56]:
icc

       country  codes
0  South Korea     81
1        Japan     82
2    Hong Kong    852

전화코드가 81인 경우 출력

In [57]:
icc[icc['codes']==81]

       country  codes
0  South Korea     81

### csv 파일에서 생성
#### RDD에서 DataFrame
`sparkContext.textFile()`로 읽은 RDD

In [58]:
from pyspark.sql import Row
cfile= os.path.join("data", "ds_spark_2cols.csv")
lines = spark.sparkContext.textFile(cfile)

RDD에서 `Row()`로 Dataframe으로 변환

In [59]:
_col12 = lines.map(lambda l: l.split(","))
col12 = _col12.map(lambda p: Row(col1=int(p[0].strip()), col2=int(p[1].strip())))

_myDf = spark.createDataFrame(col12)

In [60]:
_myDf.printSchema()
_myDf.collect()

root
 |-- col1: long (nullable = true)
 |-- col2: long (nullable = true)

[Row(col1=35, col2=2),
 Row(col1=40, col2=27),
 Row(col1=12, col2=38),
 Row(col1=15, col2=31),
 Row(col1=21, col2=1),
 Row(col1=14, col2=19),
 Row(col1=46, col2=1),
 Row(col1=10, col2=34),
 Row(col1=28, col2=3),
 Row(col1=48, col2=1),
 Row(col1=16, col2=2),
 Row(col1=30, col2=3),
 Row(col1=32, col2=2),
 Row(col1=48, col2=1),
 Row(col1=31, col2=2),
 Row(col1=22, col2=1),
 Row(col1=12, col2=3),
 Row(col1=39, col2=29),
 Row(col1=19, col2=37),
 Row(col1=25, col2=2)]

#### DataFrame으로 직접 읽기
`format().load()` 또는 `csv()` 함수로 csv 파일을 읽어 DataFrame을 만들 수 있음

In [61]:
%%writefile data/ds_spark.csv
1,2,3,4
11,22,33,44
111,222,333,444

Writing data/ds_spark.csv

#### format load
csv 패키지를 사용하여 읽기

In [62]:
df = spark\
        .read\
        .format('com.databricks.spark.csv')\
        .options(header='true', inferschema='true', delimiter=',')\
        .load(os.path.join('data','ds_spark.csv'))

In [63]:
df.show()

+---+---+---+---+
|  1|  2|  3|  4|
+---+---+---+---+
| 11| 22| 33| 44|
|111|222|333|444|
+---+---+---+---+

In [64]:
df.printSchema()

root
 |-- 1: integer (nullable = true)
 |-- 2: integer (nullable = true)
 |-- 3: integer (nullable = true)
 |-- 4: integer (nullable = true)

inferschema를 제외하면, string으로 자동인식

In [65]:
df = spark\
        .read\
        .format('com.databricks.spark.csv')\
        .options(header='true', delimiter=',')\
        .load(os.path.join('data','ds_spark.csv'))
df.printSchema()

root
 |-- 1: string (nullable = true)
 |-- 2: string (nullable = true)
 |-- 3: string (nullable = true)
 |-- 4: string (nullable = true)

#### csv
csv에서 직접 DataFrame으로 읽기

In [66]:
df = spark\
        .read\
        .options(header='true', inferschema='true', delimiter=',')\
        .csv(os.path.join('data', 'ds_spark.csv'))
df.show()

+---+---+---+---+
|  1|  2|  3|  4|
+---+---+---+---+
| 11| 22| 33| 44|
|111|222|333|444|
+---+---+---+---+

### tsv 파일읽기
tsv (tab-separated values) : Tab으로 분리된 파일

In [67]:
import numpy as np
np.array([float(x) for x in '1.658985	4.285136'.split()])

array([1.658985, 4.285136])

http://wiki.stat.ucla.edu/socr/index.php/SOCR_Data_Dinov_020108_HeightsWeights 

18세 1993년 18세 이하 225,000 건의 키 (in), 몸무게 (lbs) 데이터

In [77]:
%%writefile data/ds_spark.csv
1,2,3,4
11,22,33,44
111,222,333,444

Overwriting data/ds_spark.csv

In [79]:
%%writefile data/ds_spark_heightweight.txt
1	65.78	112.99
2	71.52	136.49
3	69.40	153.03
4	68.22	142.34
5	67.79	144.30
6	68.70	123.30
7	69.80	141.49
8	70.01	136.46
9	67.90	112.37
10	66.78	120.67
11	66.49	127.45
12	67.62	114.14
13	68.30	125.61
14	67.12	122.46
15	68.28	116.09
16	71.09	140.00
17	66.46	129.50
18	68.65	142.97
19	71.23	137.90
20	67.13	124.04
21	67.83	141.28
22	68.88	143.54
23	63.48	97.90
24	68.42	129.50
25	67.63	141.85
26	67.21	129.72
27	70.84	142.42
28	67.49	131.55
29	66.53	108.33
30	65.44	113.89
31	69.52	103.30
32	65.81	120.75
33	67.82	125.79
34	70.60	136.22
35	71.80	140.10
36	69.21	128.75
37	66.80	141.80
38	67.66	121.23
39	67.81	131.35
40	64.05	106.71
41	68.57	124.36
42	65.18	124.86
43	69.66	139.67
44	67.97	137.37
45	65.98	106.45
46	68.67	128.76
47	66.88	145.68
48	67.70	116.82
49	69.82	143.62
50	69.09	134.93

Writing data/ds_spark_heightweight.txt

#### RDD로 읽기

In [80]:
from pyspark.sql.types import *
_tRdd=spark.sparkContext\
    .textFile(os.path.join('data','ds_spark_heightweight.txt'))

In [81]:
#tRdd=rdd.map(lambda x:x.split('\t'))
_tRddSplitted = _tRdd.map(lambda x:x.split())

#### 형변환

In [83]:
#import numpy as np
#myRdd=rdd.map(lambda line:np.array([float(x) for x in line.split('\t')]))
tRdd=_tRdd.map(lambda line:[float(x) for x in line.split('\t')])
tRdd.take(1)

[[1.0, 65.78, 112.99]]

#### Schema 설정
자동 설정은 string으로 읽어지니 형변환을 명시적으로 해줘야 함
#### DataFrame으로 읽기
`text()`로 파일 읽기

In [84]:
tDftxt = spark.read.text(os.path.join('data','ds_spark_heightweight.txt'))

In [85]:
tDftxt.printSchema()

root
 |-- value: string (nullable = true)

In [86]:
from pyspark.sql.functions import split

split_col = split(tDftxt['value'], '\t')

In [87]:
split_col.getItem(1)

Column<b'split(value, \t, -1)[1]'>

In [88]:
tDftxt = tDftxt.withColumn('weight', split_col.getItem(1)) # weight
tDftxt = tDftxt.withColumn('height', split_col.getItem(2)) # hight

In [89]:
tDftxt.show()

+---------------+------+------+
|          value|weight|height|
+---------------+------+------+
| 1	65.78	112.99| 65.78|112.99|
| 2	71.52	136.49| 71.52|136.49|
| 3	69.40	153.03| 69.40|153.03|
| 4	68.22	142.34| 68.22|142.34|
| 5	67.79	144.30| 67.79|144.30|
| 6	68.70	123.30| 68.70|123.30|
| 7	69.80	141.49| 69.80|141.49|
| 8	70.01	136.46| 70.01|136.46|
| 9	67.90	112.37| 67.90|112.37|
|10	66.78	120.67| 66.78|120.67|
|11	66.49	127.45| 66.49|127.45|
|12	67.62	114.14| 67.62|114.14|
|13	68.30	125.61| 68.30|125.61|
|14	67.12	122.46| 67.12|122.46|
|15	68.28	116.09| 68.28|116.09|
|16	71.09	140.00| 71.09|140.00|
|17	66.46	129.50| 66.46|129.50|
|18	68.65	142.97| 68.65|142.97|
|19	71.23	137.90| 71.23|137.90|
|20	67.13	124.04| 67.13|124.04|
+---------------+------+------+
only showing top 20 rows

#### Row의 split / csv함수로 tsv 읽기
Row 객체는 split할 수 없으므로 dict으로 변환 후 split해야함

In [90]:
tDf = spark\
    .read\
    .options(header='false', inferschema='true', delimiter='\t')\
    .csv(os.path.join('data', 'ds_spark_heightweight.txt'))
tDf.show()

+---+-----+------+
|_c0|  _c1|   _c2|
+---+-----+------+
|  1|65.78|112.99|
|  2|71.52|136.49|
|  3| 69.4|153.03|
|  4|68.22|142.34|
|  5|67.79| 144.3|
|  6| 68.7| 123.3|
|  7| 69.8|141.49|
|  8|70.01|136.46|
|  9| 67.9|112.37|
| 10|66.78|120.67|
| 11|66.49|127.45|
| 12|67.62|114.14|
| 13| 68.3|125.61|
| 14|67.12|122.46|
| 15|68.28|116.09|
| 16|71.09| 140.0|
| 17|66.46| 129.5|
| 18|68.65|142.97|
| 19|71.23| 137.9|
| 20|67.13|124.04|
+---+-----+------+
only showing top 20 rows

후에 트위터데이터 읽기까지